<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>
<body id="about-body">
    <header>
        <h1 class="section-title">So you want to know about me...</h1>
        <p class="quote">You look like a guy with a plan</p>
    </header>
    <main>
        <p>So it looks like you are the kind of person who values the identity of the people around them.</p>
        <p>Well then I'm going to have to disapoint you, because I'm no one, I could be your neighbour, your friend, your family...</p>
        <p>I could even be you</p>
        <p>HaHaHaHaHa...</p>
        <a class="btn" id="back-button" href="/">Go back</a>
    </main>
</body>
</html>