<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body id="home-body">
    <header>
        <h1 class="character-name">The Joker</h1>
        <p class="quote">Why so serious?</p>
    </header>
    <main>
        <p>Welcome, Gotham citizen. Let's do a social experiment.</p>
        <p>Would you rather learn about myself or about my work?</p>
        <a class="btn" id="about-button" href="/about">About</a>
        <a class="btn" id="work-button" href="/works">Work</a>
    </main>
</body>
</html>