<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Works</title>
</head>
<body>
    <header>
        <h1 class="section-title">Now we're talking</h1>
        <p class="quote">If you're good at something never do it for free</p>
    </header>
    <main>
        <article class="work-article">
            <h2>Robbing the mob</h2>
            <p>It's not about money, it's about sending a message. This town deserves a better class of criminal and I'm gonna give it to them.</p>
            <img src="" alt="The Joker robbing the mob">
        </article>
        <article class="work-article">
            <h2>Gotham General</h2>
            <p>Blowing up a hospital may seem cruel, but I'm not a monster, I'm just ahead of the curve.</p>
            <img src="" alt="The Joker goes to the hospital">
        </article>
        <article class="work-article">
            <h2>The Batman</h2>
            <p>This is what happens when an unstoppable force meets an immovable object.</p>
            <img src="" alt="The Joker meets the Batman">
        </article>
        <article class="work-article">
            <h2>Crossing the river</h2>
            <p>Introduce a little anarchy, upset the established order and everything becomes chaos. And you know the thing about chaos?</p>
            <p>It's fair.</p>
            <img src="" alt="The Joker meets the Batman">
        </article>
        <a class="btn" id="about-button" href="/about">About</a>
        <a class="btn" id="work-button" href="/works">Work</a>
    </main>
</body>
</html>