<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Works</title>
</head>
<body id="works-body">
    <header>
        <h1 class="section-title">Now we're talking</h1>
        <p class="quote">If you're good at something never do it for free</p>
    </header>
    <main>
        <article class="work-article">
            <div class="art-head">
                <img src="img/rob" alt="The Joker robbing the mob">
                <h2>Robbing the mob</h2>
            </div>
            <p>It's not about money, it's about sending a message. This town deserves a better class of criminal and I'm gonna give it to them.</p>
        </article>
        <article class="work-article">
            <div class="art-head">
                <img src="img/hospital.jpeg" alt="The Joker goes to the hospital">
                <h2>Gotham General</h2>
            </div>
            <p>Blowing up a hospital may seem cruel, but I'm not a monster, I'm just ahead of the curve.</p>
        </article>
        <article class="work-article">
            <div class="art-head">
                <img src="img/bat.jpeg" alt="The Joker meets the Batman">
                <h2>The Batman</h2>
            </div>
            <p>This is what happens when an unstoppable force meets an immovable object.</p>
        </article>
        <article class="work-article">
            <div class="art-head">
                <img src="img/harvey.jpeg" alt="Double face Harvey">
                <h2>Harvey Dent</h2>
            </div>
            <p>Introduce a little anarchy, upset the established order and everything becomes chaos. And you know the thing about chaos?</p>
            <p>It's fair.</p>
        </article>
        <a class="btn" id="back-button" href="/">Go back</a>
    </main>
</body>
</html>