@font-face {
    font-family: jokerFont;
    src: url(../font/BebasNeue-Regular.ttf)
}

body {
    height: 100vh;
    color: aliceblue;
    font-family: jokerFont;    
    font-size: 2rem;
}

/* Global styles */
.section-title {
    margin: 0;
    font-size: 7rem;
}
.quote {
    color: #982016;
    margin: 0 2%;
}

a {
    width: 30%;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    background-color: #8280BA;
    border: 1px solid #8280BA;
    border-radius: 5px;
}

.emph-orange {
    color: #B25937;
}

.emph-dark-purple {
    color: #535188;
}

/* Home styles */
#home-body {
    background: url(../img/home_bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;
}
#home-body header {
    width: 55%;
}
#home-body main {
    width: 35%;
}
.character-name {
    font-size: 13rem;
    margin: 0;
}
.btn-container {
    display: flex;
    justify-content: space-around;
}
#about-button:hover {
    background-color: #00010C;
    border-color: #00010C;
    color: #B25937;
}
#work-button:hover {
    background-color: #00010C;
    border-color: #00010C;
    color: #535188;
}

/* About styles */
#about-body {
    background: url(../img/about_bg);
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;
}
#about-body main {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-body main p {
    margin: 10px 0;
    width: 100%;
}
#back-button {
    margin-top: 40px;
}
#back-button:hover {
    background-color: #535188;
    border-color: #535188;
}

/* Works styles */
#works-body {
    background: url(../img/work_bg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#works-body header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#works-body header p.quote {
    align-self: flex-start;
}
#works-body main img{
    width: 100px;
    height: 100px;
    border: 2px solid #535188;
    border-radius: 50px;
}
#works-body main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#works-body main article {
    margin-top: 10px;
    width: 40%;
    background-color: rgba(0, 1, 12, .7);
    padding: 0 10px;
    border-radius: 10px;
}
.art-head {
    display: flex;
    align-items: center;
    gap: 10%;
}
#works-body main article p{
    margin: 0;
    font-size: 1.5rem;
}
