@font-face {
    font-family: jokerFont;
    src: url(../font/BebasNeue-Regular.ttf)
}

body {
    color: aliceblue;
    font-family: jokerFont;    
    font-size: 2rem;
}

/* Global styles */
.quote {
    color: red;
}

/* Home styles */
#home-body {
    background: url(../img/home_bg);
}



#about-body {
    background: url(../img/about_bg);
}

#works-body {
    background: url(../img/work_bg);
    background-repeat: no-repeat;
    background-size: cover;
}
